body {
	& section.new {
		& input,
		& button {
			border-width: 1px;
			border-style: solid;
		}

		& input.url {
			display: block;
			width: 500px;
			font-size: 16px;
			margin: 0.3em 0;
			padding: 0.25em 0.5em;
			border-radius: 5px;
		}

		& button.add {
			display: inline-block;
			font-size: 18px;
			padding: 0.15em 0.4em;
			background-color: #33cc33;
			border-color: #11aa11;
			border-radius: 7px;

			&:hover {
				background-color: #22bb22;
			}
		}
	}
}
